@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Orbitron:wght@400..900&family=Press+Start+2P&display=swap');

:root {
    --cor-primaria: #3C557D;
    --cor-secundaria: #FFFFFF;
    --cor-terciaria: #000000;
    --cor-quaternaria: #03318C;
    --cor-card: #EDEBD7;
    --cor-hover: #272727;

    --fonte-titulos: 'Lato', sans-serif;
    --fonte-texto: 'IBM Plex Mono', sans-serif;
}

* {
    font-family: var(--fonte-titulo);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 150%;
}

li {
    list-style: none;
    margin-bottom: 60px;
}

body {
    font-family: var(--fonte-titulos);
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: auto;
    font-size: 14px;
    color: black;
    box-sizing: border-box;
    text-align: center;
}

h1 {
    font-family: var(--fonte-titulos);
    font-size: 32px;
}

h2 {
    font-family: var(--fonte-titulos);
    font-size: 24px;
}
/* ESTILOS DO HEADER */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    background-color: var(--cor-primaria);
    position: fixed; 
    top: 0;
    height: 96px;
    width: 100%;
    padding: 0 25px;
    font-family: var(--fonte-titulos);
    color: var(--cor-secundaria);
    font-size: 24px;
    overflow: auto;
}

.cabecalho {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.cabecalho__logoTitulo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    gap: 20px;
}

/* ESTILOS DO MAIN */

main {
    display: flex;
    justify-content: space-between;
    background-color: var(--cor-secundaria);
    padding: 30px;
    font-family: var(--fonte-texto);
    color: var(--cor-terciaria);
}

.main__subtitulo {
    margin: 40px;
}

.main__meusProdutos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 75%;
    height: 100%;
    padding: 40px;
    color: var(--cor-terciaria);
}

.produtos__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow-y: auto;
    height: 65vh;        
    box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.3);
}

.produto__item {
    flex-grow: 1;
    height: 258px;
    width: 198px;
    margin-bottom: 60px;
    flex-basis: 198px;
}

.produto {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px ;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    background-color: var(--cor-card);
}

.card__info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    gap: 0px;
}

.produto__nome {
    font-size: 15px;
    font-style: bold;
    text-align: start;
    margin-top: 10px;
}

.card__value {
    display: flex;
    justify-content: space-between;
    
}

.card__preco {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 16px;    
    font-weight: 600;
}

.produto__imagem {
    width: 100%;
    height: 174px; 
}

.produto__imagem__trash {
    width: 24px;
    height: 24px; 
}

.produto__imagem__trash:hover {
    cursor: pointer;
    transform: scale(1.3); 
    transition: transform 0.2s;
}

.main__adicionaProdutos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 35%;
    height: 100%;
    padding: 40px;
    color: var(--cor-terciaria);
}
.formulario {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 0px;
    color: var(--cor-terciaria);
}
input:focus {
    box-shadow: 0 0 7px var(--cor-primaria);
    outline: none;
}
input {
    font-family: var(--fonte-texto);
    font-size: 20px;
    width: 100%;
    height: 58px;
    padding: 10px 20px;
    margin-bottom: 40px;
    border-color: var(--cor-quaternaria);
    border-width: 3px;
    border-radius: 30px;
    border-style: solid; /* sem o border-style as linhas superior e diretita não assumiam a cor quaternaria */
}

.botoes {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    
    
}

button {
    font-family: var(--fonte-texto);
    font-size: 20px;
    font-weight: 400;
    width: 188px;
    height: 55px;
    padding: 10px 20px;
    border-color: var(--cor-quaternaria);
    border-width: 3px;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.botao__guardar {
    
    background-color: var(--cor-quaternaria);
    color: var(--cor-secundaria);
    margin-right: 13px;    
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.botao__guardar:hover {
    transform: scale(1.1); 
    transition: transform 0.2s;
}

.botao__limpar {
    background-color: var(--cor-secundaria);
    color: var(--cor-quaternaria);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.botao__limpar:hover {
    transform: scale(1.1); 
    transition: transform 0.2s;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    background-color: var(--cor-primaria);
    bottom: 0;
    height: 160px;
    width: 100%;
    padding: 0 25px;
    font-family: var(--fonte-titulos);
    color: var(--cor-secundaria);
    font-size: 24px;
}

.footer__subtitulo {
    font-family: var(--fonte-texto);
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;
}

.footer__texto {
    font-family: var(--fonte-texto);
    font-size: 12px;
    font-weight: 100;
    margin-top: 10px;
}


/*RESPONSIVIDADE*/

@media (max-width: 1000px) {

    main {
        flex-direction: column-reverse;
        padding: 0;
    }

    .main__adicionaProdutos {
        width: 100%;
        height: 100%;
        padding: 40px;
        margin-top: 40px;
        color: var(--cor-terciaria);
    }

    .main__meusProdutos {
        width: 100%;
        height: 100%;
        padding: 0px;
        color: var(--cor-terciaria);
    }

    .produto {
        padding: 5px;
    }
}